<div class="d-flex">
  <div class="form-inline mr-auto">
    <div class="form-group mb-2">
      <input type="text" class="form-control mr-2" placeholder="Buscar por nome" [(ngModel)]="filtroNome">
    </div>
  </div>
  <div>
    <button class="btn btn-outline-primary" (click)="novoUsuario(template)">
      <i class="fa fa-plus-circle"></i>&nbsp;
      Cadastrar
    </button>
  </div>
</div>

<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>Nome</th>
      <th>Sobrenome</th>
      <th>Email</th>
      <th>Data Nascimento</th>
      <th>Escolaridade</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="usuarios && usuarios.length">
    <tr *ngFor="let usuario of usuariosFiltrados">
      <td>{{usuario.nome}}</td>
      <td>{{usuario.sobrenome}}</td>
      <td>{{usuario.email}}</td>
      <td>{{usuario.dataNascimento | DateTimeFormatPipe}}</td>
      <td [ngSwitch]="usuario.escolaridade">
        <div *ngSwitchCase=1>Fundamental</div>
        <div *ngSwitchCase=2>Médio</div>
        <div *ngSwitchCase=3>Superior</div>
        <div *ngSwitchDefault>Infantil</div>
      </td>
      <td>
        <div class="btn-group">
          <button class="btn btn-sm btn-success" tooltip="Editar" (click)="editarUsuario(usuario, template)">
            <i class="fa fa-edit"></i>
          </button>
          <button class="btn btn-sm btn-danger" tooltip="Excluir" (click)="excluirUsuario(usuario, confirm)">
            <i class="fa fa-eraser"></i>
          </button>
        </div>        
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!usuarios">
    <tr>
      <td colspan="6" class="text-center">
        <h3>Nenhum usuario encontrado</h3>
      </td>
    </tr>
  </tfoot>
</table>

<div bsModal #template="bs-modal" class="modal fade" tabindex="-1"
     role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h3 id="dialog-sizes-name1" class="modal-title pull-left">Formulário de Usuário</h3>
        <button type="button" class="close pull-right" (click)="template.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="registerForm">
          <div class="row">
            <div class="form-group col-md-12">
              <label>Nome</label>
              <input type="text" class="form-control"
              [ngClass]="{'is-invalid': registerForm.get('nome').errors && registerForm.get('nome').touched}"
              formControlName="nome">
              <div class="invalid-feedback">O nome é obrigatório.</div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-12">
              <label>Sobrenome</label>
              <input type="text" class="form-control" 
              [ngClass]="{'is-invalid': registerForm.get('sobrenome').errors && registerForm.get('sobrenome').touched}"
              formControlName="sobrenome">
              <div class="invalid-feedback">O sobrenome é obrigatório.</div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-9">
              <label>Email</label>
              <input type="text" class="form-control" 
              [ngClass]="{'is-invalid': registerForm.get('email').errors && registerForm.get('email').touched}"
              formControlName="email">
              <div *ngIf="registerForm.get('email').hasError('required')" class="invalid-feedback">O email é obrigatório.</div>
              <div *ngIf="registerForm.get('email').hasError('email')" class="invalid-feedback">O email deve ser válido.</div>
            </div>

            <div class="form-group col-md-3">
              <label>Data de Nascimento</label>
              <input type="datetime-local" class="form-control"
              value="{{dataNascimento | DateTimeFormatPipe}}" [(ngModel)]="dataNascimento"
              bsDatepicker [bsConfig]="{dateInputFormat: 'YYYY/MM/DD'}"
              [ngClass]="{'is-invalid': registerForm.get('dataNascimento').errors && registerForm.get('dataNascimento').touched}"
              formControlName="dataNascimento" placeholder="">
              <div *ngIf="registerForm.get('dataNascimento').hasError('required')" class="invalid-feedback">A data de nascimento é obrigatória.</div>
              <div *ngIf="registerForm.get('dataNascimento').hasError('maxDateValidation')" class="invalid-feedback">A data de nascimento não pode ser maior que hoje.</div>
            </div>  
          </div>
          <div class="row">         
            <div class="form-group col-md-12">
              <div>
                <label>Escolaridade</label>         
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="escolaridade" id="infantil" [value]="0" formControlName="escolaridade">
                <label class="form-check-label" for="infantil">Infantil</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="escolaridade" id="fundamental" [value]="1" formControlName="escolaridade">
                <label class="form-check-label" for="fundamental">Fundamental</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="escolaridade" id="medio" [value]="2" formControlName="escolaridade">
                <label class="form-check-label" for="medio">Médio</label>
              </div> 
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="escolaridade" id="superior" [value]="3" formControlName="escolaridade">
                <label class="form-check-label" for="superior">Superior</label>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer d-flex">
        <button class="btn btn-secondary" (click)="template.hide()">Fechar</button>
        <button class="btn btn-primary ml-auto" [disabled]="!registerForm.valid" (click)="salvarAlteracao(template)">Gravar</button>
      </div>
    </div>
  </div>
</div>

<div bsModal #confirm="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-sm modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Excluindo Usuário</h4>
        <button type="button" class="close pull-right" (click)="confirm.hide()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      </div>
      <div class="modal-body">
        <p>{{bodyExcluirUsuario}}</p>
      </div>    
      <div class="modal-footer btn-group d-flex">      
        <button type="button" class="btn btn-outline-primary" (click)="confirm.hide()">Cancelar</button>
        <button type="button" class="btn btn-outline-danger" (click)="confirmDelete(confirm)">Excluir</button>
      </div>
    </div>
  </div>
</div>